.addonRight svg,
.addonLeft svg {
  color: var(--hint-color);
}

.button {
  cursor: pointer;
  color: var(--text-color);
  padding: 6px 16px;
  display: flex;
  align-items: center;

  &:hover {
    color: var(--accent-color);

    .addonLeft svg,
    .addonRight svg {
      color: var(--accent-color);
    }
  }
}

.withAddon {
  padding: 0 16px;
}

.addonLeft,
.addonRight {
  display: flex;
}

.ghost {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.primary {
  background: var(--light-bg-color);
  border: none;
  outline: none;
  border-radius: 34px;
}

.outline {
  background: none;
  border-radius: 34px;

  &:hover {
    border: 2px solid var(--accent-color);
  }

  &.normal {
    border: 2px solid var(--icon-color);
  }

  &.error {
    border: 2px solid var(--cancel-color);
  }

  &.success {
    border: 2px solid var(--save-color);
  }
}

.icon {
  border-radius: 50%;
  padding: 10px;
  border: none;
  background: transparent;
}

.square {
  padding: 0;
}

.square.m {
  width: var(--font-line-m);
  height: var(--font-line-m);
}

.square.l {
  width: var(--font-line-l);
  height: var(--font-line-l);
}

.square.xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
}

.m {
  font: var(--font-m);
}

.l {
  font: var(--font-l);
}

.xl {
  font: var(--font-xl);
}

.disabled {
  opacity: 0.5;
}

.fullWidth {
  width: 100%;
}