.tableTitle {
  margin: 100px 0 20px 0;
  padding: 20px 10px;
  font-size: 20px;
  color: var(--text-grey-darken-1);
  background-color: var(--button-active);
  border-radius: var(--border-radius);
}

.homeTable {
  font-weight: bold;
  color: #59db20;
}

.awayTable {
  font-weight: bold;
  color: #f54a4a;
}