.light {
  --primary-color: #0232c2;
  --secondary-color: #0449e0;

  // redesigned
  --dark-bg-color: #fff;
  --bg-color: #fbfbfb;
  --light-bg-color: #e2eef1;
  --text-color: #141c1f;
  --hint-color: #adbcc0;
  --cancel-color: #f77;
  --save-color: #62de85;
  --icon-color: #5ed3f3;
  --accent-color: #315443;
  --yellow-color: #ffff0e;

  --greenFormTable: #94b785;
  --redFormTable: #dc4a4a;

  --light-green: #45ac19;
  --green-zone1: #63bc3d;
  --green-zone2: #2d742d;
  --yellow-bg: #e5b66d;
  --red-zone: #ba3535;

  --border-color: #3e4c71;
  --hover-bg-color: rgba(209, 229, 247, 0.7);

  --button-hover: rgba(213, 226, 239, 0.9);
  --button-active: rgba(209, 229, 247, 0.3);
  --card-hover: #dde9f4;
  --chip-bg: var(--card-hover);

  --tr-bg: #e8edf6;
  --tr-hover: #dde2ed;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;

  // card
  --card-bg: #eff3f6;

  // listbox
  --listbox-bg: #d5d5d7;



}