.navbar {
  height: 64px;
  display: flex;
  background: var(--card-bg);
  position: fixed;
  padding: 0 15px;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  z-index: 1001;

}

.logo {
  font-size: 18px;
  margin-right: auto;

  @media screen and (min-width: 576) {
    font-size: 24px;
  }
}

.red24 {
  color: #d72638;
  font-weight: bold;
  font-size: 26px;

  @media screen and (min-width: 680) {
    font-size: 32px;
  }
}

.icon {
  margin-right: 5px;
}

.navLinks {
  display: none;

  @media screen and (min-width: 769px) {
    display: flex;
    gap: 0;
  }
}

.navBtn {
  color: var(--text-color);
  font-size: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 20px;

  &:hover {
    background-color: var(--button-hover);
  }

  &[data-active] {
    background-color: rgba(249, 249, 249, 0.05);
  }
}

.navBtnActive {
  background-color: var(--border-color);
}

.menuItems {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 5 5px;
  background-color: var(--bg-color);
  z-index: 1000;
}

.itemLeague {
  width: 99%;
  left: 0 !important;
  right: 0;
  margin: 0 auto;
}

.link {
  display: block;
  padding: 15px 20px;
  border-radius: 8px;
}

.link[data-focus] {
  background: var(--hover-bg-color);
}

.leagues {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.countries {
  padding: 0 40px;
  margin-right: 40px;
  border-right: 1px solid var(--border-color);
}

.divider {
  width: 2px;
  height: 70%;
  margin: 0 10px 0 0;
  background-color: var(--text-color);
  opacity: var(--v-border-opacity);
}

.loginBtn {
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);

  &:hover {
    background-color: var(--button-hover);
  }
}