@import'../styles/dark.scss';
@import'../styles/light.scss';
@import url("@mdi/font/css/materialdesignicons.css");

:root {
  // --background: #ffffff;
  // --foreground: #171717;

  --v-border-opacity: 0.12;
  --disabled-opacity: 0.5;
  --border-radius: 8px;

  --grey-darken-2: #616161;
  --text-grey-darken-1: #757575;


}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 12px;

  @media screen and (min-width: 480px) {
    font-size: 14px;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.app {
  min-height: 100vh;
  color: var(--text-color);
  background: var(--bg-color);
}

.main {
  padding-top: 65px;
  padding-bottom: 65px;
}

.container {
  width: 100%;
  padding: 15px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    max-width: 720px;
  }

  @media screen and (min-width: 992px) {
    max-width: 960px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1140px;
  }

  @media screen and (min-width: 1400px) {
    max-width: 1320px;
  }

  @media screen and (min-width: 1500px) {
    max-width: 1400px;
  }
}

.auth-page {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.d-block {
  display: block;
}

.jcc {
  justify-content: center;
}

.bold {
  font-weight: bold;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.border-bottom {
  border-bottom: 1px solid var(--border-color);
}

.d-none {
  display: none;
}

.xs-hidden {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}