.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px 0;
  gap: 30px;

  @media screen and (min-width: 1200px) {
    grid-template-columns: 390px 1fr;
  }
}

.stats {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.tableTitle {
  margin: 20px 0;
  padding: 20px 10px;
  font-size: 20px;
  color: var(--text-grey-darken-1);
  background-color: rgba(249, 249, 249, 0.05);
  border-radius: var(--border-radius);
}