.bottomNav {
  position: fixed;
  bottom: 0;
  height: 66px;
  width: 100%;
  background-color: var(--card-bg);
  z-index: 9999;

  @media screen and (min-width: 769px) {
    display: none;
  }
}

.link {
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.activeLink {
  color: #34F188;
  background-color: rgba(52, 241, 136, 0.05);
}