.under {
  padding: 2px 30px;
  margin-right: 5px;
  background-color: rgba(255, 12, 12, 0.4);
  border: 2px solid rgba(255, 12, 12, 1);
}

.over {
  padding: 2px 30px;
  margin-right: 5px;
  background-color: rgba(29, 247, 94, 0.4);
  border: 2px solid rgba(29, 247, 94, 1);
}