.table {
  width: 100%;
  padding: 10px 0 0 0;
  border-spacing: 0;


  @media screen and (min-width:992px) {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
  }

  .teamName {
    &:hover {
      color: var(--accent-color)
    }
  }

  .btnWrap {
    position: relative;
    width: 100% !important;

    &:hover {
      .btnPopup {
        display: block;
        width: 200px;
        text-align: center;
      }
    }
  }

  .activeBtn {
    padding: 6px 16px;
    border: 1px solid var(--accent-color);
    border-radius: 34px;
    color: var(--accent-color);
  }

  .btnPopup {
    display: none;
    position: absolute;
    bottom: 100%;
    transform: translateX(-25%);
    padding: 10px 20px;
    background-color: var(--light-bg-color);
    border-color: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    z-index: 1000;

    @media screen and (min-width:600px) {
      bottom: 150%;
    }
  }

  tr {
    border: none;

    :nth-child(1) {
      width: 6%;
      text-align: center;
    }

    :nth-child(2) {
      width: 24%;
      text-align: start;
    }

    th {
      button {
        display: block;
        width: 100% !important;
      }
    }

    th,
    td {
      text-align: center;
      border: none;
    }

    &:nth-child(2n) {
      background-color: rgba(249, 249, 249, 0.05);
    }

    &:hover {
      background-color: var(--button-hover);
    }
  }


}

.form {
  width: 100% !important;
  display: flex;
  justify-content: center;
}

.formItem {
  position: relative;
  flex: 1 0 20px;
  padding: 3px;
  border-radius: var(--border-radius);
  margin: 0 1px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;

  @media screen and (min-width: 600px) {
    flex: 0 0 25px;
    padding: 5px;
    font-size: inherit;
  }

  &:hover {
    .formPopup {
      display: block;
    }
  }
}

.formPopup {
  display: none;
  position: absolute;
  width: 1000% !important;
  bottom: 100%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: var(--light-bg-color);
  border-color: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  text-align: center !important;
  z-index: 1000;

  @media screen and (min-width:600px) {
    bottom: 150%;
  }
}

.goalsFor {
  color: #6af92d;
}

.goalsAgainst {
  color: #ff2929;
}

.win {
  background-color: var(--greenFormTable);
}

.draw {
  background-color: #cd8c27;
  ;
}

.lose {
  background-color: var(--redFormTable);
}

.position {
  padding: 5px 10px !important;
}

.zone {
  width: 100% !important;
  height: 100% !important;
  padding: 5px;
  border-radius: var(--border-radius);
  font-weight: bold;
}

.zone1 {
  background-color: #418225;
}

.zone2 {
  background-color: #184718;
}

.zone3 {
  background-color: #cd8c27;
}

.zone4 {
  background-color: #a12c2c;
}