.table {
  width: 100%;
  padding: 20px 0 0 0;
  border-spacing: 0;


  @media screen and (min-width:992px) {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
  }

  .teamName {
    &:hover {
      color: var(--accent-color)
    }
  }

  .btnWrap {
    width: 100% !important;

    &:hover {
      .btnPopup {
        display: block;
        width: 200px;
        text-align: center;
      }
    }
  }

  .activeBtn {
    padding: 6px 16px;
    border: 1px solid var(--accent-color);
    border-radius: 34px;
    color: var(--accent-color);
  }

  .btnPopup {
    display: none;
    position: absolute;
    right: 25%;
    bottom: 800px;
    // transform: translateX(-25%);
    padding: 10px 20px;
    background-color: var(--light-bg-color);
    border-color: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    z-index: 1000;

    @media screen and (min-width:600px) {
      right: 30%;
    }
  }



  tr {
    border: none;

    &:nth-child(2n) {
      background-color: #192232;
    }

    th:nth-child(1) {
      background-color: var(--bg-color);
    }

    th:nth-child(2) {
      background-color: var(--bg-color);
    }

    td:nth-child(1),
    th:nth-child(1) {
      width: 6%;
      text-align: center;

      padding-right: 5px !important;
      position: sticky;
      left: 0px;
      z-index: 100;
    }

    td:nth-child(2),
    th:nth-child(2) {
      width: 24%;
      text-align: start;

      padding-left: 0px;
      position: sticky;
      left: 42px;
      z-index: 100;
      white-space: initial;

      &:before {
        box-shadow: inset 10px 0 8px -8px #00000026;
        position: absolute;
        top: 0;
        right: 0;
        bottom: -1px;
        width: 30px;
        transform: translate(100%);
        transition: box-shadow .3s;
        content: "";
        pointer-events: none;

      }
    }

    th {
      button {
        display: block;
        width: 100% !important;
      }
    }

    th,
    td {
      text-align: center;
    }



    td>a {
      display: block;
      width: 100% !important;
      padding: 5px 0;
      text-align: start !important;
    }
  }

  .position {
    background-color: var(--bg-color);
  }

  .posOdd {
    background-color: #192232;
  }

  tr:hover {
    &:not(thead>tr) {
      background-color: #2a3549;
    }

    .position {
      background-color: #2a3549;
    }
  }


  .form {
    width: 100% !important;
    display: flex;
    justify-content: center;
  }

  .formItem {
    position: relative;
    flex: 1 0 20px;
    padding: 3px;
    border-radius: var(--border-radius);
    margin: 0 1px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;

    @media screen and (min-width: 600px) {
      flex: 0 0 25px;
      padding: 5px;
      font-size: inherit;
    }

    &:hover {
      .formPopup {
        display: block;
      }
    }
  }

  .formPopup {
    display: none;
    position: absolute;
    width: 1000% !important;
    bottom: 100%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: var(--light-bg-color);
    border-color: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    text-align: center !important;
    z-index: 1000;

    @media screen and (min-width:600px) {
      bottom: 150%;
    }
  }

  .goalsFor {
    color: #6af92d;
  }

  .goalsAgainst {
    color: #ff2929;
  }

  .win {
    background-color: var(--greenFormTable);
  }

  .draw {
    background-color: #cd8c27;
    ;
  }

  .lose {
    background-color: var(--redFormTable);
  }

  .position {
    padding: 5px 10px !important;
  }

  .zone {
    width: 100% !important;
    height: 100% !important;
    padding: 5px;
    border-radius: var(--border-radius);
    font-weight: bold;
  }

  .zone1 {
    background-color: #418225 !important;
  }

  .zone2 {
    background-color: #184718 !important;
  }

  .zone3 {
    background-color: #cd8c27 !important;
  }

  .zone4 {
    background-color: #a12c2c !important;
  }

}