.tabs {
  position: relative;
}

.tabList {
  min-width: 100%;
  display: grid;
  grid-auto-columns: 33.3%;
  grid-auto-flow: column;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  overflow: auto;
  outline: none;
  margin-bottom: 20px;
}

.tab {
  padding: 20px 0;
  width: 100%;
  text-align: center;
  background-color: transparent;
  border: none;
  color: var(--text-color);
  cursor: pointer;

  &:hover {
    background-color: var(--button-hover);
  }

  &[data-selected] {
    background-color: rgba(249, 249, 249, 0.05);
  }
}

.tabWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.panelsWrap {
  overflow-x: auto;

  @media screen and (min-width: 600px) {
    overflow-x: inherit;
  }
}

.tabPanels {
  // min-width: 480px;
}