.tabs {
  position: relative;
}

.tabList {
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.tab {
  padding: 20px 0;
  width: 33.3%;
  text-align: center;
  background-color: transparent;
  border: none;
  color: var(--text-color);
  cursor: pointer;

  &:hover {
    background-color: var(--button-hover);
  }

  &[data-selected] {
    background-color: rgba(249, 249, 249, 0.05);
  }
}

.panelsWrap {
  overflow-x: auto;

  @media screen and (min-width: 600px) {
    overflow-x: inherit;
  }
}

.tabPanels {
  min-width: 480px;
}